<h1>Jesse, we need to cook</h1>
hier entsteht eine ultimtatives Matching Tool um das In-Office-Kochen zu revolutionieren!
Registriere dich jetzt, um Geschichte zu schreiben und endlich mehr drauf zu haben als Spiegeleier mit Toastbrot und um Geld für die Ausbildung deiner Kinder zu sparen.

 was noch getan werden muss:
 - devise gem
 - ID / Emails Auswahlmöglichkeiten begrenzen
 - Algorithmus hinterlegen
 - PopUp Kalender hinterlegen / Belegungsplan (3 Farben; grün, gelb, rot)
 - Email Notifications installieren / in Slack Notification installieren
<p> Praktische Anmerkung (damit der dusselige Porgrammierer den Pfad wiederfindet): Find me in app/views/pages/info.html.erb</p>


<p> Karsten ist mit am Start.....yay.</p>
